let mapleader=" "
set number
set relativenumber
set NERDTree
set surround
set visualbell
set easymotion
set ignorecase
set smartcase
nmap s <Plug>(easymotion-s)

nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-k> <c-w>k
nnoremap <c-j> <c-w>j
nnoremap <c-r> :action MoveEditorToOppositeTabGroup<cr>

nnoremap <Space>sv :source ~/.ideavimrc<cr>

nnoremap <leader>ac :action ActivateBookmarksToolWindow<cr>
nnoremap <leader>ac :action ActivateCommitToolWindow<cr>
nnoremap <leader>ad :action ActivateDebugToolWindow<cr>
nnoremap <leader>ag :action ActivateGradleToolWindow<cr>
nnoremap <leader>am :action ActivateMavenToolWindow<cr>
nnoremap <leader>ap :action ActivateProjectToolWindow<cr>
nnoremap <leader>ar :action ActivateRunToolWindow<cr>
nnoremap <leader>as :action ActivateStructureToolWindow<cr>
nnoremap <leader>at :action ActivateTerminalToolWindow<cr>
nnoremap <leader>av :action ActivateVersionControlToolWindow<cr>
nnoremap <leader>ca :action CollapseAllRegions<cr>
nnoremap <leader>ch :action CallHierarchy<cr>
nnoremap <leader>cr :action CollapseRegion<cr>
nnoremap <leader>d :action Debug<cr>
nnoremap <leader>ea :action ExpandAllRegions<cr>
nnoremap <leader>ei :action ExtractInterface<cr>
nnoremap <leader>er :action ExpandRegion<cr>
nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>gg :action Generate<cr>
nnoremap <leader>ge :action Generate<cr>
nnoremap <leader>gi :action GotoImplementation<cr>
nnoremap <leader>gs :action GotoSuperMethod<cr>
nnoremap <leader>h :action HideAllWindows<cr>
nnoremap <leader>il :action Inline<cr>
nnoremap <leader>in :action Inline<cr>
nnoremap <leader>ip :action IntroduceParameter<cr>
nnoremap <leader>ip :action IntroduceVariable<cr>
nnoremap <leader>o :action OverrideMethods<cr>
nnoremap <leader>p :action ParameterInfo<cr>
nnoremap <leader>q :action QuickJavaDoc<cr>
nnoremap <leader>rc :action RunClass<cr>
nnoremap <leader>re :action Refactorings.QuickListPopupAction<cr>
nnoremap <leader>rf :action Refactorings.QuickListPopupAction<cr>
nnoremap <leader>rn :action RenameElement<cr>
nnoremap <leader>rr :action ContextRun<cr>
nnoremap <leader>ru :action ContextRun<cr>
nnoremap <leader>se :action ShowErrorDescription<cr>
nnoremap <leader>si :action ShowIntentionActions<cr>
nnoremap <leader>st :action Stop<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>t :action ToggleLineBreakpoint<cr>
nnoremap <leader><cr> :action ShowIntentionActions<cr>

nnoremap ,u :action Rerun<cr>

nnoremap <s-tab> :action PreviousTab<cr>
nnoremap <tab> :action NextTab<cr>

sethandler <c-a> a:ide
sethandler <c-b> a:ide
sethandler <c-c> a:ide
sethandler <c-d> a:vim
sethandler <c-e> a:ide
sethandler <c-f> a:ide
sethandler <c-h> a:vim
sethandler <c-j> a:vim
sethandler <c-k> a:vim
sethandler <c-l> a:vim
sethandler <c-n> a:vim
sethandler <c-p> a:vim
sethandler <c-u> a:vim
sethandler <c-v> a:ide
sethandler <c-x> a:ide
