let mapleader=" "
set number
set relativenumber
set NERDTree
set surround
set visualbell
set easymotion
nmap s <Plug>(easymotion-s)

nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-k> <c-w>k
nnoremap <c-j> <c-w>j
nnoremap <c-r> :action MoveEditorToOppositeTabGroup<cr>

nnoremap <Space>sv :source ~/.ideavimrc<cr>

nnoremap <leader>ac :action ActivateCommitToolWindow<cr>
nnoremap <leader>ag :action ActivateGradleToolWindow<cr>
nnoremap <leader>am :action ActivateMavenToolWindow<cr>
nnoremap <leader>ap :action ActivateProjectToolWindow<cr>
nnoremap <leader>as :action ActivateStructureToolWindow<cr>
nnoremap <leader>at :action ActivateTerminalToolWindow<cr>
nnoremap <leader>av :action ActivateVersionControlToolWindow<cr>
nnoremap <leader>ca :action CollapseAllRegions<cr>
nnoremap <leader>ch :action CallHierarchy<cr>
nnoremap <leader>cr :action CollapseRegion<cr>
nnoremap <leader>ea :action ExpandAllRegions<cr>
nnoremap <leader>er :action ExpandRegion<cr>
nnoremap <leader>fu :action FindUsages<cr>
nnoremap <leader>gi :action Generate<cr>
nnoremap <leader>gg :action GotoImplementation<cr>
nnoremap <leader>h :action HideAllWindows<cr>
nnoremap <leader>p :action ParameterInfo<cr>
nnoremap <leader>q :action CloseContent<cr>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<cr>
nnoremap <leader>se :action ShowErrorDescription<cr>
nnoremap <leader>si :action ShowIntentionActions<cr>
nnoremap <leader>su :action ShowUsages<cr>
nnoremap <leader>t :action Terminal.OpenInTerminal<cr>

nnoremap ,r :action ContextRun<cr>
nnoremap ,s :action Stop<cr>
nnoremap ,c :action RunClass<cr>
nnoremap ,d :action Debug<cr>
nnoremap ,f :action ChooseRunConfiguration<cr>
nnoremap ,q :action QuickJavaDoc<cr>
nnoremap ,t :action ActivateRunToolWindow<cr>
nnoremap ,u :action Rerun<cr>

nnoremap <s-tab> :action PreviousTab<cr>
nnoremap <tab> :action NextTab<cr>
